{% extends "base.njk" %}

{% block contenido %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Login</h1>
                <form method="POST" action="/auth/login">
                    <div class="form-group">
                        <label for="login">Login:</label>
                        <input type="text" class="form-control" id="login" name="login" value="{{ patient.login or '' }}" required>
                        {% if errors.login %}
                            <p class="text-danger">{{ errors.login }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        {% if errors.password %}
                            <p class="text-danger">{{ errors.password }}</p>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
